:root{
    --Dark-cyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
    --Very-dark-blue: hsl(212, 21%, 14%);
    --h-font-family: 'Fraunces', sans-serif;
    --p-font-family: 'Montserrat', sans-serif;

}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;  
}
body{
    padding-top: 20vh;
    background-color: var(--Cream);
    font-size: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 20vh;
}
main{
    background-color: var(--White);
    max-width: 540px;
    height: 58vh;
    display: flex;
    align-items: center;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    text-align: left;
}
.left{
    flex: 1;
    max-width: 100%;
    height: 58vh;
    overflow: hidden;
}
#main-img{
    max-width: 100%;
    height: 58vh;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    filter: contrast();
    -webkit-filter: contrast();
    display: block;
}
#mobile-img{
    display:none;
}
.right{
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
}
#btn{
    background-color: var(--Dark-cyan);
    width: 175px;
    height: 38px;
    margin: 15px auto 15px;
    color: white;
    border: none;
    border-radius: 7px;
}
#btn:hover{
    background-color: hsl(158deg 40.61% 19.04%);
cursor: pointer;
}
#icon{
    height: 15px;
    width: 15px;
    margin-right: 5px;
}
P:first-of-type{
    
    letter-spacing: 2px;
    margin-top: 15px;
    opacity: 97%;
}
p{
    text-align: initial;
    margin: 15px 25px 5px;
    color: var(--Dark-grayish-blue);
    font-family: var(--p-font-family);
    opacity: 98%;
}
h2{
    margin: 5px 20px 5px 25px;
    text-align: left;
    font-size: 1.5rem;
    font-family: var(--h-font-family);
    color: var(--Very-dark-blue);
}
p:last-of-type{
    line-height: 1.6;
    max-width: 160px;
    margin-left: 20px;
    margin-bottom: 15px;
}
.price{
    margin: 5px auto 0 15px;
}
span{
    color: var(--Dark-cyan);
    font-family: var(--h-font-family);
    font-size: 1.5rem;
    text-align:left ;
    display: inline-block;
    margin: 5px 5px auto 5px;
}
del{
    color: var(--Dark-grayish-blue);
    font-family: var(--h-font-family);
    font-size: 0.7rem;
    opacity: 80%;
    display: inline-block;
    margin: 5px;
}
.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 120px;
}
.attribution a { 
    color: hsl(228, 45%, 44%);
}
@media (max-width:667px){
    main{
        flex-direction: column;
        max-width: 340px;
        height: 90vh;
    }
    .right{
        flex: 1.5;
        margin-bottom: -60px;
    }
    p{
        margin: 5px auto 15px;
    }
    p:last-of-type{
        max-width: 295px;
    margin-left: 20px;
    margin-bottom: 8px;
    font-size: 14px;
    margin-right: 20px;
    }
    p:first-of-type{
        margin-top: -5px;
        font-size: 1rem;
        margin-left: 15px;
    }
    
    br{
        display:none;
    }
    body{
        padding-top:4vh;
    }
    .attribution {
        display: none;
    }
    #main-img{
        display: none;
    }
    #mobile-img{
        display: block;
        max-width: 100%;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
    .price {
        margin: 5px auto 0px 15px;
    }
    h2{
        max-width: 300px;
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 34px;
        line-height: 1;
        margin-left: 15px;
    }
    #btn{
        width: 294px;
        height: 49px;
        font-family: var(--p-font-family);
        font-size: 15px;
    }
    #icon{
        width: 17px;
        height: 17px;
    }
    del{
        font-size: 0.77rem;
    }
}
